<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Barra de navegación -->
    <div class="header">
        <div style="display: flex; align-items: center; width: 100%;">
            <a href="{% url 'catalogo' %}" class="catalog-button">Catálogo</a>
            </a>
        </div>
        <div class="header-buttons">
            <p>{{ user.email }}</p> <!-- Mostrar correo del usuario autenticado -->
        </div>
    </div>

    <!-- Contenido del perfil -->
    <div class="profile-container">
        <h2>Perfil de usuario {{ user.username }}</h2>
        <div class="profile-info">
            <p><strong>Correo electrónico:</strong> {{ user.email }}</p>
        </div>
        <button id="logout-button" class="button-logout">Cerrar sesión</button> <!-- Botón para abrir el modal -->
    </div>

    <!-- Modal de confirmación -->
    <div id="logout-modal" class="modal">
        <div class="modal-content">
            <p>¿Estás seguro de que quieres cerrar sesión?</p>
            <div class="modal-buttons">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="button-logout-confirm">Sí</button>
                </form>
                <button id="cancel-button" class="button-cancel">No</button>
            </div>
        </div>
    </div>

    <script>
        // Mostrar el modal
        document.getElementById('logout-button').addEventListener('click', function() {
            document.getElementById('logout-modal').style.display = 'block';
        });
    
        // Ocultar el modal
        document.getElementById('cancel-button').addEventListener('click', function() {
            document.getElementById('logout-modal').style.display = 'none';
        });
    </script>
</body>
</html>
