/* styles.css */

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.form-container {
    background: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 450px;
    max-width: 90%;
    text-align: center;
    box-sizing: border-box
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}


.form-container form button {
    grid-column: span 2;
}

.form-container form label {
    font-weight: bold;
    color: #555;
}

.form-container form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;

}

.form-container button:hover {
    background-color: #4cae4c;
}

.form-container p {
    margin-top: 10px;
    color: #666;
}

.form-container a {
    color: #5cb85c;
    text-decoration: none;
}

/* Navbar */
.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header-buttons {
    flex-grow: 1;
    text-align: right;
    padding-right: 20px;
}

.header-buttons p {
    margin: 0;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.header img.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header h1.title {
    margin: 0;
    font-size: 1.5em;
    color: white;
}


/* Contenedor de perfil */
.profile-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
}

.profile-container h2 {
    color: #333;
    font-size: 24px;
}

.profile-info p {
    color: #555;
    margin: 10px 0;
}

/* PARA EL PERFIL */
.button-logout {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Azul */
    color: #ffffff; /* Texto blanco */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

.button-logout:hover {
    background-color: #0056b3; /* Azul más oscuro */
}

/* Botón de catálogo */
.catalog-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.catalog-button:hover {
    background-color: #0056b3;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button-logout-confirm {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.button-logout-confirm:hover {
    background-color: #0056b3;
}

.button-cancel {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-cancel:hover {
    background-color: #cc0000;
}
